* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

row-header {
    margin: 0px;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

html {
    font-size: 10px;
}

/* ///////////////////////////////// Nav Bar /////////////////////////////// */
.navbar-dark {
    background-color: black;
}

.nav-link {
    font-size: 1.75rem;
}

/* ////////////////////////////////// Game ////////////////////////////////// */
.snake-title {
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
    color: azure;
    font-size: 5rem;
}

.game-view {
    margin-bottom: 40px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.game-score {
    text-align: center;
}

.info-section {
    font-size: 1.5rem;
}

.rules {
    position: relative;
    left: 15px;
}